---
layout: default
title: People
---
<div class="people">
<div class="jumbotron">

<h1>Our research group</h1>

</div>

	{% include group-members.html %}
	
	<h3>Older group photos: <a href="{{ site.baseurl }}/img/group-photo-2011.jpg">[1]</a> <a href="{{ site.baseurl }}/img/group-photo-simpsons.jpg"><a href="{{ site.baseurl }}/tracks/">[2]</a> <a href="{{ site.baseurl }}/img/group-photo-simpsons.jpg">[3]</a> <a href="{{ site.baseurl }}/img/group-photo-alma-mater.jpg">[4]</a></h3>

	<div name="name="previous-group-members"></div>	
	<h1 class="category-title">Previous group members</h1>
	
	{% include previous-group-members.html %}

</div>