<div class="group-members">
<div class="bowtie">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="thumbnail">
					<img src="{{ site.url }}/img/group-photo-2011.jpg" class="group-photo">
					<div class="caption">
									<h3>Alma Mater, 2011</h3>
									<h4>Older group photos: <a href="{{ site.url }}/tracks/">[1]</a> <a href="{{ site.url }}/img/group-photo-simpsons.jpg">[2]</a> <a href="{{ site.url }}/img/group-photo-alma-mater.jpg">[3]</a></h4>
								</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<!-- Our Fearless Leader -->
					{% for category in site.data.group_members %}
						{% if category.name == "Our Fearless Leader" %}
							{% for person in category.people %}
							<a href="http://physics.illinois.edu/people/profile.asp?{{ person.netid }}">
							<div class="thumbnail">
								<img src="{{ person.image }}" class="img-circle">
								<div class="caption">
									<h1>{{ person.name }}</h1>
									<h3 class="job-title">Our fearless leader</h3>
									<h5 class="email">{{ person.netid }}@illinois.edu</h4>
								</div>						
							</div>
							</a>
							{% endfor %}
						{% else %}
						{% endif %}
					{% endfor %}
				</div>
				<div class="row row-centered">
					<!-- List of postdocs. If there are ever more than 4 postdocs, might want to replace this with something like the code for the list of graduate students which adds new rows. -->
					{% for category in site.data.group_members %}
						{% if category.name == "Postdocs" %}
							{% for person in category.people %}
						<div class="col-md-6 col-centered">
						<a href="http://physics.illinois.edu/people/profile.asp?{{ person.netid }}">
							<div class="thumbnail">
								<img src="{{ person.image }}" class="img-circle">
								<div class="caption">
									<h2>{{ person.name }}</h2>
									<h3 class="job-title">Postdoc</h3>
									<h5 class="email">{{ person.netid }}@illinois.edu</h5>
								</div>						
							</div>
							</a>
						</div>
							{% endfor %}
						{% else %}
						{% endif %}
					{% endfor %}
				</div>
			</div>
			
		</div>
	</div>	
</div>

<div class="container">
<!-- List of graduate students -->
<h1 class="category-title">Graduate Students</h1>
{% for category in site.data.group_members %} <!-- Displays students with 4 students to a row, adding new rows if needed-->
		{% if category.name == "Graduate Students" %}
			{% assign count = 0 %} <!-- Initialize variable that counts to 4 -->
			{% for person in category.people %}
			
				{% assign count = count | plus: 1 %} <!-- Increment -->
				
				{% if forloop.first %} <!-- If this is the first item, start a row -->
					<div class="row row-centered">
				{% else %}
				{% endif %}

				<div class="col-md-4 col-centered">
					<a href="http://physics.illinois.edu/people/profile.asp?{{ person.netid }}">
					<div class="thumbnail">
						<img src="{{ person.image }}" class="img-circle">
						<div class="caption"><h2>{{ person.name }}</h2>
						<h5 class="email">{{ person.netid }}@illinois.edu</h5>
						</div>				
					</div>
					</a>
				</div>
				
				{% if count >= 3 and forloop.last == false %} <!-- If we've reached a multiple of 4, end this row and start a new one, unless this is the last item -->
					</div>
					<div class="row row-centered">
					{% assign count = 0 %} <!-- Rest the count -->
				{% elsif forloop.last %}
					</div> <!-- End the row if this is the last item -->
				{% endif %}

			{% endfor %}
		{% else %}
		{% endif %}
{% endfor %}
</div>

<h1 class="category-title">Undergraduate Students</h1>
<div class="bowtie">
<div class="container">
	
	{% for category in site.data.group_members %} <!-- Displays students with 4 students to a row, adding new rows if needed-->
		{% if category.name == "Undergraduate Students" %}
			{% assign count = 0 %} <!-- Initialize variable that counts to 4 -->
			{% for person in category.people %}
			
				{% assign count = count | plus: 1 %} <!-- Increment -->
				
				{% if forloop.first %} <!-- If this is the first item, start a row -->
					<div class="row row-centered first-row">
				{% else %}
				{% endif %}

				<div class="col-md-4 col-centered">
					<div class="name"><center><h2>{{ person.name }}</h2></center></div>
				</div>
				
				{% if count >= 3 and forloop.last == false %} <!-- If we've reached a multiple of 4, end this row and start a new one, unless this is the last item -->
					</div>
					<div class="row row-centered">
					{% assign count = 0 %} <!-- Rest the count -->
				{% elsif forloop.last %}
					</div> <!-- End the row if this is the last item -->
				{% endif %}

			{% endfor %}
		{% else %}
		{% endif %}
{% endfor %}
	
</div>
</div>
</div>