<!-- List of guests -->
<h1 class="category-title">Honored Guests</h1>
<div class="bowtie">
<div class="container">
	
	{% for category in site.data.group_members %} <!-- Displays people with 3 people to a row, adding new rows if needed-->
		{% if category.name == "Honored Guests" %}
			{% assign count = 0 %} <!-- Initialize variable that counts to 3 -->
			{% for person in category.people %}
			
				{% assign count = count | plus: 1 %} <!-- Increment -->
				
				{% if forloop.first %} <!-- If this is the first item, start a row -->
					<div class="row row-centered first-row">
				{% else %}
				{% endif %}

				<div class="col-md-4 col-centered">
					<div class="name"><center><h2>{{ person.name }}</h2></center></div>
				</div>
				
				{% if count >= 3 and forloop.last == false %} <!-- If we've reached a multiple of 3, end this row and start a new one, unless this is the last item -->
					</div>
					<div class="row row-centered">
					{% assign count = 0 %} <!-- Rest the count -->
				{% elsif forloop.last %}
					</div> <!-- End the row if this is the last item -->
				{% endif %}

			{% endfor %}
		{% else %}
		{% endif %}
{% endfor %}
	
</div>
</div>