<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
	  <img class="img-responsive imark" src="img/imark.gif" alt="University of Illinois at Urbana-Champaign" title="University of Illinois at Urbana-Champaign">
	    <p>Welcome to the</p>
        <h1>Kwiat Quantum Information Group</h1>
        <p><a href="http://physics.illinois.edu/" title="Department of Physics">Physics</a> in <a href="http://engineering.illinois.edu/" title="College of Engineering">Engineering</a> & <a href="http://las.illinois.edu/" title="College of Liberal Arts and Sciences">LAS</a> at <a href="http://illinois.edu/" title="University of Illinois at Urbana-Champaign">Illinois</a></p>
		
      </div>
    </div>
	