<hr class="dashed">
<h2>Tomography theory</h2>
<hr class="dashed">
<h3>Videos</h3>
<h4>
  <a href="https://youtu.be/-T_GiHE4VGg"><b>State Tomography</b></a> and <a href="https://youtu.be/-T_GiHE4VGg"><b>Process Tomography</b></a> tutorial presented by Spencer Johnson.
</h4>
  <p>
    These youtube videos will focuses on basic theory of quantum tomography and the application of the tomography of photon polarization qubits.
  </p>
<h3>Books and book chapters</h3>
<p>
<h4>Start here: <a href="{{ site.baseurl }}/tomography-files/amo_tomo_chapter.pdf"><b>Photonic State Tomography</b></a></h4>
This chapter from <i>Advances in Atomic, Molecular and Optical Physics</i> (published by <a href="http://www.elsevierphysics.com/">Elsevier</a> in 2005) summarizes both the theoretical foundations of our quantum tomography system and the experimental techiniques used to actually implement that system on photonic qubits.
</p>
<p>
<a href="{{ site.baseurl }}/tomography-files/tomo_chapter_2004.pdf"><b>Qubit Quantum State Tomography</b></a>. This chapter from <a href="http://www.springeronline.com/sgw/cda/frontpage/0,11855,4-40356-72-31930372-0,00.html"><i>Quantum State Estimation</i></a> (published by <a href="http://www.springeronline.com/">Springer</a> in 2004 as part of the <a href="http://www.springeronline.com/sgw/cda/frontpage/0,11855,5-10100-69-1236397-0,00.html">Lecture Notes in Physics</a> series) is a shorter version of the chapter above, written to emphasize usefulness for any type of qubit implementation with less emphasis on experimental considerations.
</p>
<p>
<a href="http://www.springer.com/gp/book/9783540223290"><b>Quantum State Estimation</b></a>. A book containing tomography articles from groups around the world, including the second book chapter presented above. It is fairly long, and contains articles from a variety of points of view.
</p>

<h3>Journal articles</h3>
{% include tomography_journal.html %}
<p>
<a href="http://www.arxiv.org/abs/quant-ph/0302028"><b>Quantum Tomography</b></a>. A large (90 page) review article published by D'Ariano, Paris, and Sacchi.
</p>
<p>
For more Kwiat group publications, see our <a href="{{ site.baseurl }}/publications/">Publications page</a>.
</p>
