<dl>

  <dt>
  <a name="AltepeterMay2003">&nbsp;</a>
  </dt>
  <dd>
  <b>Ancilla-assisted quantum process tomography</b>.
   J.&nbsp;B. Altepeter, D.&nbsp;Branning, E.&nbsp;R. Jeffrey, T.-C. Wei, P.&nbsp;G. Kwiat,
    R.&nbsp;Thew, J.&nbsp;L. O'Brien, M.&nbsp;Nielsen, and A.&nbsp;G. White.
   <em>Physical Review Letters</em>, 2003.
  [&nbsp;<a href="http://dx.doi.org/10.1103/PhysRevLett.90.193601">DOI</a>&nbsp;|
  <a href="../papers/My Collection.Data/PDF/Ancilla-assisted quantum process tomography.pdf">pdf</a>&nbsp;]

  </dd>

  <dt>
  <a name="PetersFeb2005">&nbsp;</a>
  </dt>
  <dd>
  <b>Precise creation, characterization, and manipulation of single optical
    qubits</b>.
   N.&nbsp;A. Peters, J.&nbsp;B. Altepeter, and E.&nbsp;R. Jeffrey.
   2005.
  [&nbsp;<a href="http://arxiv.org/abs/0502177">arXiv</a>&nbsp;|
  <a href="../papers/My Collection.Data/PDF/Precise creation, characterization, and manipulation of single optical qubits.pdf">pdf</a>&nbsp;]

  </dd>

  <dt>
  <a name="JamesOct2001">&nbsp;</a>
  </dt>
  <dd>
  <b>Measurement of qubits</b>.
   D.&nbsp;F.&nbsp;V. James, P.&nbsp;G. Kwiat, W.&nbsp;J. Munro, and A.&nbsp;G. White.
   <em>Physical Review A</em>, 2001.
  [&nbsp;<a href="http://dx.doi.org/10.1103/PhysRevA.64.052312">DOI</a>&nbsp;|
  <a href="../papers/My Collection.Data/PDF/Measurement of qubits.pdf">pdf</a>&nbsp;]

  </dd>
  <dt>
  <a name="AltepeterChapter2005">&nbsp;</a>
  </dt>
  <dd>
  <b>Testing the Limits of Nonlocality</b>.
   J.&nbsp;B. Altepeter, 2006.
  [&nbsp; <a href="../theses/altepeter-thesis.pdf">pdf</a>&nbsp;]

  </dd>

</dl>
